.button{
    padding : 0 !important;
    border : none !important;
    text-align: left !important;
    display: block;
    font-size : xx-large !important;
    font-weight: bold !important;
}

.button:hover {
    font-weight: bolder !important;
    color: #b21117 !important;
}

.modal_title{
    padding-left : 3rem;
    font-weight: bold;
}

.modal_body{
    margin-top: 40px;
    min-height: 40rem;
    width: 600px !important;
    place-items: center;
}

.email_field{
   
    display: block;
    margin: auto;
    border : none;
    min-width: 100%;
    border-bottom: solid 3px;
}

.email_field::placeholder{
    text-align: left;
}

.email_field:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.content_label{
    margin-left: 5px;
    padding-top : 40px;
    color: grey;
}

.content{
    display: block;
    min-width: 100%;
    min-height: 300px;
    border : 2px solid grey;
}

.checkbox{
    margin-top : 30px;
}

.terms{
    display:inline-block !important;
}

.terms_link{
    margin-left: 4px;
    color: #0d6efd;
    text-decoration: none;
}

.submit{
    display: block !important;
    margin: auto;
    margin-top : 60px;
    background-color: #C4C4C4 !important;
    border-radius: 25px !important;
    border : none !important;
    font-size: large !important;
    color: black !important;
    height: 50px ;
    width: 250px;
}