.club {
  font-size: medium;
  width: 300px !important;

  .logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .recruit {
    white-space: nowrap;
    text-align: center;
  }

  .name {
    white-space: nowrap;
    text-align: center;
  }

  .detail {
    height: 100px !important;
    overflow: hidden;
  }
}
