.category {
  width: 7vw;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 25px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #b21117,
    #f03c42,
    #b21117,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
.category_btn {
  justify-content: center;
  align-items: center;
  display: flex;
}
.category:hover {
  background-position: 100% 0;
}
.category:focus {
  outline: none;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #b21117;
  border-right: none;
  padding: 5px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #bf9d9d;
  font-size: 25px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 60px;
  height: 60px;
  border: 1px solid #b21117;
  background: #b21117;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
