.category {
  width: 60px;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 25px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.searchBox {
  width: 50%;
  max-width: 400px;
  height: auto;
}
