.wish {
  display: table;
  overflow: hidden;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.link_detail_title {
  color: #0a222e;
}

.section {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.link_detail_author {
  color: #28546a;
}

.recruiting {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.tooltips {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.link_url {
  font-size: 12px;
}

.button_url {
  margin-right: 5px;
}

.button_edit {
  margin-right: 5px;
}

.logo {
  width: 22px;
  height: 22px;
  object-fit: contain;
}
