//button customize

.login_button {
  font-weight: bold !important;
  color: #b21117 !important;
  text-align: right !important;
  padding: 0 !important;
  font-size: x-large !important;
}

.btn_red {
  display: block !important;
  margin: auto;
  margin-top: 60px;
  background-color: #c4c4c4 !important;
  border-radius: 25px !important;
  border: none !important;
  font-size: large !important;
  color: black !important;
  height: 50px;
  width: 250px;
}

.btn_red:hover {
  background-color: #b21117 !important;
  color: whitesmoke !important;
  transition: 0.4s ease-out;
}

// modal customize
.container {
  text-align: center;
}
.modal_title {
  font-weight: bolder;
  color: #b21117;
}

// label customize
.form_label {
  margin: 40px 86px;
  width: 600px;
  display: block;
  border: none;
  padding: 16px 0;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0));
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    #110101 4%
  );
  background-position: -200px 0;
  background-size: 600px 100%;
  background-repeat: no-repeat;
  color: #110101;
}
.form_label:focus,
.form_label:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.form_label::-webkit-input-placeholder {
  font-family: sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_label:focus::-webkit-input-placeholder,
.form_label:valid::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible;
}

.red_str {
  text-decoration: none;
  color: #b21117;
  cursor: pointer;
}
.red_str:hover {
  text-decoration: underline;
  color: #b21117;
}

.submit_field {
  display: block;
  margin: auto;
  border: none;
  min-width: 100%;
  border-bottom: solid 3px;
}

.submit_field::placeholder {
  text-align: left;
}

.submit_field:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.terms {
  display: inline-block !important;
  margin: 20px 0 20px 86px;
}
.terms_link {
  margin-left: 4px;
  color: #0d6efd;
  text-decoration: none;
}

.modal_title {
  padding-left: 3rem;
  font-weight: bold;
  color: #b21117;
}
