// Your variable overrides
// $body-bg: #fff;
// $body-color: #111;
.main_container{
  padding-top: 3rem !important;
  margin : 0 !important;
}

.logo_wrap{
  width: 320px !important;
}

.logo{
  padding-right: 10px;
  font-size: xx-large;
  font-weight: bolder;
  float: left;
}

.logo_img{
  width: auto; height: auto;
  max-width: 40px;
  max-height: 40px;
}

.description{
  clear: both;
  margin-top: 30px;
  margin-bottom: 25%;
  font-size: large;
  font-weight: bolder;
  

}
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
