

// Your variable overrides
// $body-bg: #fff;
// $body-color: #111;

.mainWrapper{
  margin-left: 10%;
  place-items: center;
}

.Main{
  padding-top: 10%;
  height: 800px;
  width: 100%;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  
  /* background: transparent;
  background-color: transparent; */
}



.logoImage{
  width: 50%;
  max-width: 400px;
  height: auto;
}





// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";