.background {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/sogang_bg-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* button and input */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: transparent;
  background-color: transparent; */
}

.clubs {
  /* background: transparent;
  background-color: transparent; */
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
  justify-content: center;
}

/* a tag */
a {
  color: #eb3941;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s;
}
a:hover {
  color: #eb3941;
  font-weight: bolder;
}

input {
  font-family: inherit;
  /* width: 100%; */
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: bold;
}
input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #eb3941, #e2373f);
  border-image-slice: 1;
}

/* go button */
.btn_go {
  width: 80px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.btn_go:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.btn_go:active {
  color: #000;
}
.btn_go:active:after {
  background: transparent;
}
.btn_go:hover:before {
  opacity: 1;
}
.btn_go:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* category button */

.btn_category {
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 25px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn_category:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn_category:focus {
  outline: none;
}

.word {
  color: #d9ae5f;
  font-style: italic;
  font-weight: bolder;
}

/* main.module.css */

.main_row {
  height: 100vh;
}

.main_title {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #eb3941;
  text-transform: uppercase;
  margin-top: 80px;
}

.main_subtitle {
  text-align: center;
  color: #2e251d;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.main_contents {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  /* width: 800px; */
}

.main_underline {
  width: 200px;
  height: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background: linear-gradient(to right, #803b32, #ddb49b);
}

.test {
  width: auto;
  height: auto;
  background-color: orange;
}

@media screen and (max-width: 1090px) {
  .clubs {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .img_center {
    text-align: left;
    left: -255px;
  }
}
