// Your variable overrides
// $body-bg: #fff;
// $body-color: #111;
.main_container {
  padding-top: 3rem !important;
  margin: 0 !important;
}

.logo_wrap {
  width: 500px !important;
}

.logo {
  padding-right: 10px;
  font-size: 70px;
  font-weight: bolder;
  float: left;
}

.logo_img {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
}

.description {
  clear: both;
  margin-top: 30px;
  margin-bottom: 25%;
  font-size: 30px;
  font-weight: bold;
}
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
