// Your variable overrides
// $body-bg: #fff;
// $body-color: #111;

.mainWrapper {
  height: 100vh;
  margin-left: 260px;
  place-items: center;
}

.Main {
  padding-top: 10%;
  width: 100%;
  display: flex;
  font-size: xx-large;
  justify-content: center;

  /* background: transparent;
  background-color: transparent; */
}

.main_subtitle {
  text-align: center;
  color: #2e251d;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #eb3941;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s;
}
a:hover {
  color: #eb3941;
  font-weight: bolder;
}

.logoImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
