@import "~bootstrap/scss/bootstrap";

.sidebar {
  width: 200px !important;
  margin-right : 0 !important;
  
}

.items {
  text-align: left;
  font-size: 30px;
  .menu {
    font-size: xx-large;
    font-weight: bold;
    color: #b21117;
  }
  .home {
    font-weight: bold;
  }
}
