@import "~bootstrap/scss/bootstrap";

.sidebar {
  width: 200px !important;

}

.items {
  text-align: left;

  font-size: large;
  .menu{
    font-weight: bold;
    color: #B21117;
  }
  .home{
    font-weight: bold;
  }
}
