@import "~bootstrap/scss/bootstrap";

.sidebar {
  width: 200px !important;
}

.items {
  text-align: left;
  font-size: x-large;
  .menu {
    font-size: xx-large;
    font-weight: bold;
    color: #b21117;
  }
  .home {
    font-weight: bold;
  }
}
