.sidebar {
  width: 200px !important;
}

.items {
  text-align: right;
  font-size: x-large;
}

.a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}
.a:hover {
  font-weight: bolder;
  color: #b21117;
}
